{% extends "./base.html" %}
{% load static %}
{% block main %}

<div class="container">
    <div class="mt-5">
        <h2><b>네이버 웹툰</b></h2>
        <div class="list-group">
            <div class="row">
                {% for toon in toon_list %}
                <div class='col-4'>
                    <a href="/toon/{{toon.titleid}}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <img src= "{{toon.thumnail_URL}}" alt="웹툰사진" height = "200" width="280" style="display:block; margin:auto">
                        </div>
                        <h5 class="mb-1">{{toon.titlename}}</h5>
                        <h5 class="mb-1">
                                    {{toon.author.authorname}}
                                <small class="text-muted mb-1" style="float:right;">
                                    {{toon.startdate|date:"Y.m.d"}}
                                </small>
                            </h5>
                            <h5 class="mb-1">★ {{toon.starscore}}
                                <small class="text-muted mb-1" style="float:right;">
                                    {{toon.genre}}
                                </small>
                            </h5>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}